:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ee303c;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #777;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-ivory: #fffcf7;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  background-color: var(--color-ivory);
}

a {
  text-decoration: none;
  color: var(--color-dark-grey);
}

ul,
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}
/* Haderbar */
#headerbar {
  display: flex;
  justify-content: space-between;
  margin: 0px 32px;
}

.header__logo img {
  width: 150px;
  padding: 25px 0px 0px 5px;
}

.header__menu {
  display: flex;
}

.header__menu a {
  padding: 0px 20px;
  font-size: 12px;
  margin: 0px;
  color: var(--color-light-grey);
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__menu a:hover,
.header__menu a:hover {
  color: #ee303c;
  cursor: pointer;
}

.navbar__menu {
  padding: 8px 0px 0px 35px;
}
.navbar__menu > li {
  display: inline-block;
  vertical-align: top;
  color: var(--color-black);
}

.navbar__menu > li > a {
  margin-right: 80px;
  font-size: 13px;
  letter-spacing: 0.8px;
}

.navbar__menu > li:hover .navbar__submenu {
  display: block;
  background-color: var(--color-ivory);
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.navbar__submenu {
  display: none;
  width: 100%;
  height: 280px;
  padding: 0;
  background-color: #fff;
}

.navbar__submenu > li {
  display: block;
  height: 28px;
  padding: 10px 0 0 10px;
}

.navbar__submenu > li > a {
  display: block;
  font-size: 12px;
}

.navbar__cart {
  padding-top: 25px;
  padding-right: 50px;
}
.navbar__cart .cart_img {
  width: 23px;
}

.navbar__cart #cartCnt {
  font-size: 15px;
}
