:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ee303c;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #777;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-ivory: #fffcf7;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  background-color: var(--color-ivory);
}

a {
  text-decoration: none;
  color: var(--color-dark-grey);
}

ul,
li {
  list-style: none;
  padding-left: 0px;
}

button {
  border: none;
}
/* Haderbar */
#headerbar {
  display: flex;
  justify-content: space-between;
  margin: 0px 32px;
}

.header__logo img {
  width: 150px;
  padding: 25px 0px 0px 5px;
}

.header__menu {
  display: flex;
}

.header__menu a {
  padding: 0px 20px;
  font-size: 12px;
  margin: 0px;
  color: var(--color-light-grey);
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__menu a:hover,
.header__menu a:hover {
  color: #ee303c;
  cursor: pointer;
}

.navbar__menu {
  padding: 8px 0px 0px 35px;
}
.navbar__menu > li {
  display: inline-block;
  vertical-align: top;
  color: var(--color-black);
}

.navbar__menu > li > a {
  margin-right: 80px;
  font-size: 13px;
  letter-spacing: 0.8px;
}

.navbar__submenu {
  display: none;
  width: 100%;
  height: 280px;
  padding: 0;
  background-color: var(--color-white);
}

.navbar__submenu > li {
  display: block;
  height: 28px;
  padding: 10px 0 0 10px;
}

.navbar__submenu > li > a {
  display: block;
  font-size: 12px;
}

.navbar__menu > li:hover .navbar__submenu {
  display: block;
  background-color: var(--color-ivory);
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.navbar__cart {
  padding-top: 25px;
  padding-right: 50px;
}

.navbar__cart button {
  background-color: transparent;
}
.navbar__cart .cart_img {
  width: 23px;
}

.navbar__cart #cartCnt {
  font-size: 15px;
  position: relative;
  top: -3px;
}

/* banner */
.banner {
  margin-bottom: 130px;
}
.mainSlider {
  max-width: 1600px;
  width: 100%;
  z-index: 999;
}

.slick-slide .pc_slide {
  display: block;
}

.slick-slide img {
  width: 100%;
  z-index: 1100;
}

.slick-slide > a {
  position: absolute;
  top: 33.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  z-index: 10000;
}

.main-dots {
  position: relative;
  bottom: 70px;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  padding-left: 14.8%;
  box-sizing: border-box;
  z-index: 9999;
}

.main-dots > li {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  padding: 0;
  cursor: pointer;
}

.main-dots > li > button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 8px;
  height: 8px;
  padding: 0px;
  outline: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.slick-active > button {
  background-color: var(--color-black);
}

/* Desker Now */
.now {
  width: 80%;
  margin-left: 10%;
}
.now__top {
  display: flex;
  justify-content: space-between;
}
.now__title {
  font-weight: 600;
  padding-top: 12px;
  letter-spacing: 0.8px;
}
.now__subtitle {
  display: flex;
}

.now__subtitle li {
  padding-right: 10px;
}

.now__subtitle a:hover {
  color: black;
  border-bottom: 3px solid #000;
  transition: all 0.1s ease-out;
}

.now__subtitle a {
  font-size: 12px;
}

.now__subtitle img {
  padding-right: 10px;
  position: relative;
  top: -3px;
}

/* Desker now grid */
.grid {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-left: 45px;
}

.grid__col {
  padding-right: 50px;
}

.grid__item img {
  width: 370px;
}

.grid__text {
  margin: 25px 0px 70px 0px;
}
.grid__item span {
  display: block;
  font-size: var(--font-regular);
}

.grid__item p {
  font-size: 13px;
  color: var(--color-light-grey);
}
.see__more {
  padding-left: 46%;
}

.see__more:hover {
  color: var(--color-dark-pink);
}

.border__top {
  width: 129px;
  border-bottom: 2px solid var(--color-black);
  margin-bottom: 15px;
}

.border__bottom {
  background: url("imgs/dash.png");
  width: 16%;
  height: 1px;
  margin-top: 15px;
}

/* see more story */
.see_more {
  width: 100%;
  text-align: center;
}

.see_more > a {
  display: inline-block;
  width: 193px;
  height: 50px;
  background: url("/imgs/seeMoreStory_bk.png") no-repeat center / 95%;
}

.see_more > a:hover {
  background: url("/imgs/seeMoreStory_red.png") no-repeat center / 95%;
}

/*  brand story */
.brend_story {
  position: relative;
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.video_bg {
  height: 720px;
  text-align: center;
}

.video_bg > video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  visibility: visible;
}

.video_bg::after {
  content: "";
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../imgs/exploreText.png") no-repeat center / 100%;
  width: 360px;
  height: 70px;
  z-index: 10;
}

.video_bg::before {
  content: "";
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../imgs/exploreBtn.png") no-repeat center / 100%;
  width: 146px;
  height: 36px;
  z-index: 10;
}

/* footer */
.footer__top {
  display: flex;
  border-top: 1px solid #7a7673;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer__menu > dt > a:hover,
.footer__menu > dd > a:hover {
  color: #ee303c;
}

.footer__menu {
  margin-top: 40px;
  margin-left: 80px;
}

.footer__menu > dt {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 15px;
}

.footer__menu > dd {
  font-size: 12px;
  padding-top: 10px;
  margin: 0;
}

.footer__menu > dd > a {
  color: var(--color-light-grey);
}

.footer__menu > ul {
  margin: 0px;
  color: var(--color-light-grey);
}

.footer__menu .pc_chatIcon {
  width: 18px;
}

.footer__menu .chat {
  cursor: pointer;
  position: relative;
  top: -4px;
  font-weight: bold;
  padding-left: 3px;
}
.footer__menu ul {
  margin: 0px;
}
.footer__menu li:nth-child(1) {
  padding-bottom: 20px;
}

.footer__menu li:nth-child(2) {
  padding-bottom: 20px;
}

.footer__menu li:nth-child(3) {
  padding-bottom: 8px;
}

.footer__menu li:nth-child(4) {
  padding-bottom: 8px;
}

.footer__menu li:nth-child(5) {
  padding-bottom: 18px;
}

.footer__menu .sns {
  display: flex;
  padding-left: 0px;
}

.footer__menu .sns > li > a > img {
  padding-right: 8px;
  margin-right: 8px;
}

.footer__menu .sns > li:first-child > a > img {
  width: 25px;
}
.footer__menu .sns > li:nth-child(2) > a > img {
  width: 15px;
}

.footer__menu .sns > li:nth-child(3) > a > img {
  width: 22px;
}

.footer__menu .sns > li:nth-child(4) > a > img {
  width: 30px;
}

.dash {
  background: url("/imgs/dash.png") repeat-x;
  width: 87%;
  height: 1px;
  margin-left: 80px;
}

.footer_policy {
  display: flex;
  font-size: 12px;
  margin-left: 80px;
  color: var(--color-light-grey);
}

.policy_pc > li {
  line-height: 180%;
  margin-bottom: 17px;
}

.policy_pc > li:first-child {
  padding-top: 20px;
}

.footer_policy a {
  color: var(--color-light-grey);
}

.crt {
  position: relative;
  top: 50px;
  left: 25%;
}

.crt > li {
  padding: 10px 0 0 10px;
}

.crt > li:nth-child(2) {
  font-weight: 700;
}

.spc img {
  width: 23px;
}

.btn_up img {
  width: 38px;
  margin-top: 25px;
  margin-left: 50px;
}
